streamlit
streamlit-aggrid
pandas
sqlalchemy
bcrypt
thefuzz
python-Levenshtein
pytz
openpyxl
fpdf
fpdf2
google-genai
PyMuPDF
plotly
python-docx
APScheduler
cryptography
Pillow
pypdf
numpy
psycopg2-binary
python-dotenv
supabase>=2.0.0